# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz
/logs
/data
/com_port_logs
# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Data folders
/data
/data/**
/services/data
/services/data/**

# Log folders
/logs
/logs/**
/services/logs
/services/logs/**
/com_port_logs
/com_port_logs/**

# Python
# Virtual environments
python/venv/
python/env/
python/.venv/
python/*.egg-info/
python/.eggs/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribution / packaging
python/build/
python/dist/
python/*.egg
python/*.egg-info/
python/.eggs/
python/wheels/
python/pip-wheel-metadata/
python/share/python-wheels/
python/*.manifest
python/*.spec

# PyInstaller
python/*.manifest
python/*.spec

# Unit test / coverage reports
python/htmlcov/
python/.tox/
python/.coverage
python/.coverage.*
python/.cache
python/nosetests.xml
python/coverage.xml
python/*.cover
python/.pytest_cache/

# Jupyter Notebook
python/.ipynb_checkpoints

# pyenv
python/.python-version

# Environments
python/.env
python/.venv
python/env/
python/venv/
python/ENV/
python/env.bak/
python/venv.bak/

# IDE
python/.vscode/
python/.idea/
python/*.swp
python/*.swo
python/*~

# Spinnaker build artifacts
python/spinnaker_python-4.2.0.88-cp310-cp310-win_amd64/live_inspector/__pycache__/
python/spinnaker_python-4.2.0.88-cp310-cp310-win_amd64/live_inspector/build/
python/spinnaker_python-4.2.0.88-cp310-cp310-win_amd64/live_inspector/dist/
python/spinnaker_python-4.2.0.88-cp310-cp310-win_amd64/live_inspector/*.spec